div.percentgraph {
    background-color: #f0e442 !important;
}

div.percentgraph div.greenbar {
    background-color: #0072b2 !important;
}

div.percentgraph span.text {
    color: #000 !important;
}

